# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.so
.Python
.env

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.vercel
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Project specific
backend/output/
backend/temp/
backend/test_images/
backend/voices/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 